html, body {
  height: 100%;
}

body {
  background-color: rgb(30, 10, 20);
  color: #efefef;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

a {
  color: rgb(210, 160, 160);
  transition: color 200ms;
}

a:hover {
  color: rgb(160, 160, 210);
}

header {
  padding: 40px 0;
  text-align: center;
}

header h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.5rem;
}

main {
  flex-grow: 1;
  background-color: rgb(60, 25, 40);
  padding: 80px 40px;
}

#build > h2 {
  text-align: center;
  font-weight: 400;
  padding: 40px 0;
}

ol {
  list-style: none;
}

#search-results {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}

#search-results > .card {
  cursor: pointer;
}

#search-results > .card:hover {
  box-shadow: 0 0 8px rgb(140, 120, 210, 0.8);
}

footer {
  text-align: center;
  padding: 40px 0;
}
